
    opacity: 1;
    box-sizing: border-box;
    justify-content: stretch;
    align-content: center;
}
header{
    background-color: cornflowerblue;
    grid-column: 1 / 3;
     min-height: 20em; 
     background: url(../images/pizza-slices-food.jpg) no-repeat center center fixed; 
     background-size: cover;
     height: 100%;
     overflow-x: hidden;

}
main{
    background: url(../images/main-image.jpg) no-repeat center center fixed; 
    background-size: cover;
    height: 100%;
    overflow-x: hidden;
}

aside{
background-color: azure;
}
footer{
    background-color: #232323;
    grid-column: 1 / span 2;
}
.logo{
    font-family: 'McLaren', cursive;
    color: white;
    /* margin-top: 80px; */
    margin-left: 66%;
    text-align: center;
}
.logo h1 {
    margin: 0;
}
.logo-image{
    max-height: 100px;
    max-width: 100px;
    margin-bottom: 0;
}

