body{
    display: grid;
    grid-template-columns: 1fr 20%;
    grid-template-rows: 1fr 70vh 50px;
    grid-gap: 1em;
    max-width: 99%;
    padding: 1em 0;
    box-sizing: border-box;
    justify-content: stretch;
    align-content: center;
}

header{
    background-color: cornflowerblue;
    grid-column: 1 / 3;
     min-height: 5em; 
}

main{
    background-color: lawngreen;
}

aside{
    background-color: wheat;
}

footer{
    background-color: orangered;
    grid-column: 1 / span 2;
}
